<div id="wrapper">
    <!-- Main -->
    <section id="main">
        <header>
            <span class="avatar"><img src="./assets/images/iconPrincipal.png" alt="" /></span>
            <h1>Indicadores de Desempeño</h1>
            <p>Senior Psychonautics Engineer</p>
        </header>

        <footer>
            <ul class="icons">
                <li><a routerLink="/loginCorreo" class="icon brands fa-envelope">E-mail</a></li>
                <li><a (click)="afAuth.loginWithGoogle()" class="icon brands fa-google">Google</a></li>
                <li><a href="#" class="icon brands fa-facebook-f">Facebook</a></li>
            </ul>
        </footer>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li><a href="https://www.facebook.com/fherneftali/">&copy; Fher Valenzuela</a></li>
        </ul>
    </footer>
</div>